@charset "UTF-8";
img {
  max-width: 100%;
  height: auto;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bbb;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bbb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox input {
  visibility: hidden;
  margin-right: 8px;
}

.custom-label:before,
.custom-label:after {
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 4px;
  border: #adb5bd solid 1px;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  border-radius: .25rem;
}

.custom-checkbox input:checked + .custom-label:before {
  border-color: #362e8b;
  background-color: #362e8b;
}

.custom-checkbox input:checked + .custom-label:after {
  width: 4px;
  border: 2px solid #ffffff;
  height: 8px;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 6px;
  top: 7px;
}

.required-ast {
  color: #f00;
}

.adr-flag {
  margin-right: 6px;
}

.adr-flag img {
  width: 30px;
  border: solid 1px #eee;
}

.login-switcher {
  padding-top: 0.5rem;
  border-top: dotted 1px #999;
  text-align: center;
}

.login-switcher p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.login-switcher .social-login {
  margin-top: 0.75rem;
}

.login-password {
  position: relative;
}

.login-password .pass-toggler {
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  top: 45px;
  right: 15px;
}

.login-password .pass-toggler:hover {
  cursor: pointer;
}

#password-message {
  display: none;
  border: solid 1px #ced4da;
  background: #fafafa;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0 1rem 0;
  border-radius: 6px;
}

@media (max-width: 767px) {
  #password-message {
    padding: 1rem;
  }
}

#password-message p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  #password-message p {
    font-size: 0.8rem;
  }
}

#password-message span {
  padding: 0;
  margin: 2px 0;
  display: block;
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  #password-message span {
    font-size: 0.8rem;
  }
}

.valid-pass {
  color: #7dc242;
}

.valid-pass:before {
  position: relative;
  left: 0;
  margin-right: 6px;
  content: "✔";
}

.invalid-pass {
  color: #dc3545;
}

.invalid-pass:before {
  position: relative;
  left: 0;
  margin-right: 6px;
  content: "ⓘ";
}

.valid-mobile {
  color: #7dc242;
}

.valid-mobile:before {
  position: relative;
  left: 0;
  margin-right: 6px;
  content: "✔";
}

.invalid-mobile {
  color: #dc3545;
}

.invalid-mobile:before {
  position: relative;
  left: 0;
  margin-right: 6px;
  content: "ⓘ";
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 100%;
}

.req-form .req-item {
  background: #fff;
  padding: 0.75rem 1rem;
  border: solid 1px #e4e6fc;
  border-radius: 4px;
}

.req-form .req-item span.uploaded {
  color: #7dc242;
  font-size: 0.8rem;
  font-weight: 700;
}

.req-form .req-item span.upload {
  color: #362e8b;
  font-size: 0.8rem;
  font-weight: 700;
}

.req-form .req-item span.reupload {
  font-size: 0.8rem;
  font-weight: 700;
}

.req-form .req-item span.review {
  color: #362e8b;
  font-size: 0.8rem;
  font-weight: 700;
}

.req-form .req-item span.declined {
  color: #f00;
  font-size: 0.8rem;
  font-weight: 700;
}

.req-form .req-item .file-name {
  font-size: 0.8rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 834px) {
  .req-form .req-item .file-name {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px #ced4da;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.req-form .req-item .reupload {
  margin-right: 8px;
}

.req-form .req-item i {
  font-size: 16px;
}

#result {
  position: absolute;
  width: 100%;
  max-width: 456px;
  cursor: pointer;
  overflow-y: auto;
  max-height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
}

#result .list-group-item {
  font: 0.9rem;
  padding: 0.5rem 1rem;
}

#result .list-group-item .region-name {
  font-size: 0.8rem;
  color: #999;
}

.link-class:hover {
  background-color: #f1f1f1;
}

.hide {
  display: none;
}

#valid-msg {
  color: green;
  font-size: 0.8rem;
}

#error-msg {
  color: #f00;
  font-size: 0.8rem;
}

.mobile-input-field {
  position: relative;
}

.mobile-input-field .mobile-validation {
  position: absolute;
  top: 6px;
  right: 15px;
}

.intl-tel-input {
  width: 100%;
}

.intl-tel-input input,
.intl-tel-input input[type=text],
.intl-tel-input input[type=tel] {
  width: 100%;
}

span.del-mobile {
  font-size: 0.8rem;
  cursor: pointer;
  color: #dc3545;
  margin-top: 4px;
}

.multi-email {
  position: relative;
}

.multi-email .add-mobile-field {
  position: absolute;
  top: 0;
  right: 0;
}

.multi-email .add-mobile-field span.add-mobile {
  font-size: 0.8rem;
  cursor: pointer;
  color: green;
}

.payment-breakdown {
  background: #fff;
  border: solid 1px #ced4da;
  padding: 1rem;
  border-radius: 6px;
}

.payment-breakdown .fee-tol {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: solid 1px #ced4da;
}

.payment-breakdown .fee-tol .tol {
  color: #dc3545;
  font-size: 1.2rem;
}

ul.social-icons {
  margin: 0;
  padding: 0;
}

ul.social-icons li {
  display: inline-block;
}

ul.social-icons li img {
  width: 40px;
  margin-bottom: 0;
}

#contact-form,
#register-form,
#payment-form {
  padding: 2.5rem;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 834px) {
  #contact-form,
  #register-form,
  #payment-form {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 360px) {
  #contact-form,
  #register-form,
  #payment-form {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 767px) {
  #contact-form {
    margin-top: 2rem;
  }
}

.merchant-area {
  border: solid 2px #7dc242;
  border-radius: 6px;
}

.error {
  border-color: #f00;
  color: #f00;
}

ul.content-list {
  padding-left: 1rem !important;
}

ul.content-list li {
  list-style: square;
  font-size: 0.9rem;
}

.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input .selected-flag {
  height: 35px !important;
}
/*# sourceMappingURL=global.css.map */