@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Overpass:wght@300;400;700&display=swap');
// variables
$head-font: 'Overpass';
$body-font: 'Inter';
$primary-color: #362e8b;
$accent-color: #7dc242;
$white: #fff;
$black: #111;